// =============================================
//   Font Face Declarations
//   Only fonts actually used in the design
// =============================================

// Adriatic Journal - Display/Masthead
@font-face {
  font-family: 'Adriatic Journal';
  src: url('../fonts/Adriatic-Journal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Adriatic22 - Body Copy
@font-face {
  font-family: 'Adriatic22';
  src: url('../fonts/Adriatic22-Regular.woff2') format('woff2'),
       url('../fonts/Adriatic22-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Adriatic22';
  src: url('../fonts/Adriatic22-Italic.woff2') format('woff2'),
       url('../fonts/Adriatic22-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Adriatic22';
  src: url('../fonts/Adriatic22-Bold.woff2') format('woff2'),
       url('../fonts/Adriatic22-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Adriatic22';
  src: url('../fonts/Adriatic22-BoldItalic.woff2') format('woff2'),
       url('../fonts/Adriatic22-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
